<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.matanotas" version="2.0.4" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NotasJD</name>
    <description>Aplicación de notas simple y fácil de usar, desarrollada con Cordova para fines educativos</description>
    <author email="josmardiaz92@gmail.com" href="https://github.com/josmardiaz92/MataNotas">
        Josmar Diaz
    </author>
    <platform name="android">
        <icon src="www/img/icon-mdpi.png" density="mdpi" />
        <icon src="www/img/icon-hdpi.png" density="hdpi" />
        <icon src="www/img/icon-xhdpi.png" density="xhdpi" />
        <icon src="www/img/icon-xxhdpi.png" density="xxhdpi" />
        <icon src="www/img/icon-xxxhdpi.png" density="xxxhdpi" />
        
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="www/img/logo.png"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#d2a1b1" />
        <preference name="SplashScreenDelay" value="0" />

        <preference name="AndroidPersistentFileLocation" value="Compatibility" />
        <preference name="AndroidInsecureFileModeEnabled" value="false" />



    </platform>
    
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
