img{
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;  
}


#textoAgregar{
    overflow-y: auto; /* Agregar scroll vertical */
    overflow-x: hidden;
    max-height: 300px;
    min-height: 100px;
}

.sin-scroll{
  overflow-y: hidden; 
  overflow-x: hidden;
}

.card{
  height: 250px;
  z-index: 0;
}

.expandida{
  overflow-y: auto; /* Agregar scroll vertical */
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

#cabeza{
  z-index: 1;
}

#textoAgregar:hover,
#textoAgregar:focus,
#tituloAgregar:hover,
#tituloAgregar:focus,
#textoEditar:hover,
#textoEditar:focus,
#tituloEditar:hover,
#tituloEditar:focus {
  text-decoration: none; /* Quitar subrayado al pasar el cursor */
  outline: none; /* Quitar borde de enfoque */
  cursor: default; /* Cambiar cursor a mano al pasar el cursor (opcional) */
}

.editar,
.atras,
.btnBorrar{
  border: none;
  background-color: unset;
  height: 48px;
}

p,
h5{
  color: black;
}

.btn-agregar{
  border: solid 1px ;
}

.btn-agregar:active {
  transform: scale(1.3); /* Aumentar el tamaño del botón en un 10% al hacer clic */
  transition: transform .001s ease; /* Agregar una transición suave */
}

.btn-agregar:hover{
  background-color: rgba(240, 248, 255, 0.568);
  border: solid 1px black;
}

.contenedorBorrar{
  height: 50px;
}

.blur{
  background-color: rgba(240, 248, 255, 0.568);
}

#modalTutorial-content {
  width: 100%;
}

.logoModal {
  height: 15vh;
  position: absolute;
  top: -5vh;
  right: -5vh;
  background-color: transparent;
  border: none;
}

.filtro{
  filter: blur(2px);
}

.modal-footer span{
  font-size: xx-small;
}

li button,a,p{
  font-size: medium;
  font-weight: bold;
  all: unset;
}

#pie button{
  height: 48px;
  width: 48px;
}

#cabeza .row,
#tituloAgregar{
  height: 48px;
}

#cabeza button,
#btnCancelarBusqueda{
  height: 48px;
  width: 48px;
}

#cabeza{
  height: 65px;
}

.editable{
  box-shadow: inset 0 0 0 5px rgb(247, 164, 40);
  border: none;
  border-radius: 10px;
  overflow: hidden;
}

.editable p{
  color: rgba(0, 0, 0, 0.377);
}

.contenedorOpciones{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 1;
}