/* ----------------- BODY ------------------- */
.card{
    height: 250px;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#cancelarBusqueda{
    height: 48px;
    width: 48px;
}

h5, p{
    color: black;
}

/* ----------------- FOOT ------------------- */

.btn-agregar{
    border: solid 1px;
    background-color: rgba(240,248,255,0.568);
    height: 48px;
    width: 48px;
}
.btn-agregar:hover{
    background-color: rgba(240,248,255,0.568);
    border: solid 1px;
}

/* ----------------- MODAL ------------------- */

#textoNotas{
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}

#tituloNotas:hover,
#tituloNotas:focus,
#textoNotas:hover,
#textoNotas:focus{
    outline: none;
    text-decoration: none;
    cursor: default;
}

form input, textarea{
    color: aliceblue;
}

#imgNotas div{
    position: relative;
}

.close-img {
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: 48px;
    width: 48px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.img-fluid:hover + .close-img {
    opacity: 1;
}