/* ----------------- BODY ------------------- */
.card{
    height: 250px;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#cancelarBusqueda{
    height: 48px;
    width: 48px;
}

h5, p{
    color: black;
}

.contenedorVoces{
    position: relative;
}

#contadorVoz{
    position: absolute;
    top: 0;
    left: 0;
    
}

.card-header{
    box-shadow: inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

/* ----------------- FOOT ------------------- */

.btn-agregar{
    border: solid 1px;
    background-color: rgba(240,248,255,0.568);
    height: 48px;
    width: 48px;
}
.btn-agregar:hover{
    background-color: rgba(240,248,255,0.568);
    border: solid 1px;
}

/* ----------------- MODAL ------------------- */

#textoNotas{
    overflow-y: auto;
    overflow-x: hidden;
    resize: none;
}

#tituloNotas:hover,
#tituloNotas:focus,
#textoNotas:hover,
#textoNotas:focus{
    outline: none;
    text-decoration: none;
    cursor: default;
}

form input, textarea{
    color: aliceblue;
}

#imgNotas div{
    position: relative;
}

.close-img {
    border-radius: 50%;
    background-color: white;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    height: 48px;
    width: 48px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
}

.img-fluid:hover + .close-img {
    opacity: 1;
}

#btnDetenerAudio{
    height: 100%;
    background-color: rgba(0, 0, 0, 0.601);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


#contenedorBtnAudio{
    display: none;
    position: fixed;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999; /* Asegura que esté por encima de todo */
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.793);
}

#audios div{
    height: 60px;
    align-items: center;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 0.486);
    border: 10px;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2) ;
}



@keyframes circle-in-center {
    from {
        clip-path: circle(0%);
    }
    to {
        clip-path: circle(125%);
    }
}

[transition-style="in:circle:center"] {
    animation: 3s cubic-bezier(.25, 1, .30, 1) circle-in-center both;
}

.logoModal {
    height: 45vh;
    position: absolute;
    top: -20vh;
    right: -20vh;
    background-color: transparent;
    border: none;
}